<form (submit)=" filter(words,guess.value,matches.valueAsNumber)">
  <div class="form-group container-fluid ">
    <input #guess type="text" placeholder="Enter guessed word">
    <input #matches type="number" placeholder="Correct matches">
    <button type="submit" class="btn btn-success">Submit</button> <br>
  </div>
</form>

<div *ngIf="visible">
  <table class="table">
    <th>Words</th>
    <th><button type="button" class="btn btn-warning" (click)="resetSolver()">Reset</button></th>
    <tr *ngFor="let word of words">
      <td>{{word}}</td>
    </tr>
  </table>
</div>
